@model List<AuthorsViewModel>
@{
    ViewData["Title"] = "Yazarlar";
}

<h1>Yazarlarımız</h1>

@foreach (var Author in Model)
{
    <div class="card mt-2">
        <div class="card-body">
            <a href="/home/AuthorDetails/@Author.AuthorsId"> @Author.Name @Author.SurName</a> (@Author.PostCount) @*Yazar Id ile sayfa yönlendirilmesi düzeltilecek*@
        </div>
    </div>

}




