@model List<CategoryViewModel>
@{
    ViewData["Title"] = "Kategoriler";
}
<h1>Kategorilerimiz</h1>

@foreach (var category in Model)
{
    <div class="card mt-2">
        <div class="card-body">
            <a href="/home/AuthorDetails/@category.CategoryId"> @category.CategoryName</a> (@category.BlogCount) 
        </div>
    </div>

}





